<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kg.mrpostman">

    <permission
        android:name="android.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name="com.kg.mrpostman.app.AppController"
        android:icon="@drawable/logoo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="m">
        <activity android:name="com.kg.mrpostman.delivery.DeliveryDebteds"
            android:parentActivityName="com.kg.mrpostman.HomeActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name="com.kg.mrpostman.users.LoginActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name="com.kg.mrpostman.customer.CorporateSelectionList"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.kg.mrpostman.HomeActivity"
            android:label="@string/title_activity_home"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.kg.mrpostman.users.UpdateData"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.kg.mrpostman.delivery.DeliveryEntry"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName="com.kg.mrpostman.HomeActivity" />
        <activity
            android:name="com.kg.mrpostman.helper.Signature"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme.PopupTheme" />
        <activity
            android:name="com.kg.mrpostman.delivery.DeliveryDeliver"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName="com.kg.mrpostman.HomeActivity" />
        <activity
            android:name="com.kg.mrpostman.orders.OrderEntry"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName="com.kg.mrpostman.HomeActivity" />
        <activity
            android:name="com.kg.mrpostman.orders.OrderList"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName="com.kg.mrpostman.HomeActivity" />
        <activity
            android:name="com.kg.mrpostman.orders.OrderListAssigned"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName="com.kg.mrpostman.HomeActivity" />
        <activity
            android:name="com.kg.mrpostman.delivery.DeliveryList"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName="com.kg.mrpostman.HomeActivity" />
        <activity
            android:name="com.kg.mrpostman.delivery.DeliveryUpdate"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName="com.kg.mrpostman.delivery.DeliveryList" />
        <activity
            android:name="com.kg.mrpostman.delivery.DeliveryDelete"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName="com.kg.mrpostman.delivery.DeliveryList" />

        <service android:name="com.kg.mrpostman.service.LocServ" />
        <service android:name="com.kg.mrpostman.service.MyFireBaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.kg.mrpostman.service.MyFireBaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!--
         The API key for Google Maps-based APIs is defined as a string resource.
         (See the file "res/values/google_maps_api.xml").
         Note that the API key is linked to the encryption key used to sign the APK.
         You need a different API key for each encryption key, including the release key that is used to
         sign the APK for publishing.
         You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <uses-library android:name="com.google.android.maps" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBroFIkyOPRYLj4-XCoJ99H-ASaNgEEriI" /> <!-- android:value="AIzaSyAA0GSr8VLEuKL6r0srOhYOH6Ojg4KCsgk" /> -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/icon_delivery_onway" />
        <!--
         Set color used with incoming notification messages. This is used when no color is set for the incoming
         notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity
            android:name="com.kg.mrpostman.delivery.DeliveryObserve"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName="com.kg.mrpostman.delivery.DeliveryList" />
    </application>

</manifest>